*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    border: 4px solid red;
}
header{

     background: #0D0D0E;
    .navbar{
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav_logo{
            display: flex;
            align-items: center;
            gap: 30px;
            .navbar_ul{
                display: flex;
                align-items: center;
                gap: 36px;
                a{
                    font-weight: 400;
                    font-size:18px;
                    line-height:20px;
                    color: #FFFFFF;
                    letter-spacing: 1px;
                    &:hover{
                        color: #D400B3;
                    }
                }
            }
        }
        button{
            padding: 7px 30px;
            border: 2px solid #D400B3;
            background: #D400B3;
            border-radius: 1px;
            font-weight: 400;
            font-size:18px;
            line-height:20px;
            color: #FFFFFF;
            letter-spacing: 1px;
            &:hover{
                 border: 2px solid #D400B3;
                 background: white;
                 color: #D400B3;
                 padding: 7px 30px;
            }
        }
    }
    .showcase{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        
        .show_left{
            width:50%;
            h2{
               font-family: "Paytone One", sans-serif;
               font-weight: 400;
               font-size:70px;
               line-height:100px;
               color: #FFFFFF;
               letter-spacing: 1px; 
               margin-bottom: 22px;
            }
            p{
               font-weight: 400;
               font-size:20px;
               line-height:32px;
               color:#E5E5E5;
               letter-spacing: 1px; 
               margin-bottom: 99px;
            }
            .button1{
                padding: 7px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 13px;
                font-family: "Paytone One", sans-serif;
                font-weight: 400;
                font-size:32px;
                line-height:44px;
                color:#E5E5E5;
                letter-spacing: 1px; 
                background: #262627;
                .play{
                    font-size: 20px;
                    background: white;
                    width: 42px;
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #D400B3;
                }
            }
        }
        .show_right{
           width: 50%;
           height: 600px;
          background-image: url(./img/frame8.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
    
        }
    }
}
.section1{
    background: #262627;
.section1_cards{
  padding: 140px 0;
  .section1_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
       width: 448px;
       font-weight: 400;
       font-size:20px;
       line-height:20px;
       color: #E5E5E5;
       letter-spacing: 1px;   
    }
    .section1_crad1{
       display: flex;
       align-items: center;
       gap: 60px;
       .section1_card2{
        h2{
          font-family: "Paytone One", sans-serif;  
          font-weight: 400;
          font-size:56px;
          line-height:56px;
          color: #FFFFFF;
          letter-spacing: 1px;
          margin-bottom: 17px;    
        }
        h4{
          font-weight: 400;
          font-size:16px;
          line-height:20px;
          color: #FFFFFF;
          letter-spacing: 1px;
           
        }
       }
    }
  }
}
}
.section2{
    background: #262627;
.section2_cards{
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    .section2_card{
        width: 100%;
        aspect-ratio: 1/1;
        img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              
        }
    }
}
}

.section3{
    background: #0D0D0E;
    .section3_item{
        padding: 60px 0;
        h2{
          width: 543px;
          text-align: center;
          margin: 0 auto;
          font-family: "Paytone One", sans-serif;
          font-weight: 400;
          font-size:50px;
          line-height:62px;
          color: #FFFFFF;
          letter-spacing: 1px;  
          margin-bottom: 50px;
        }
        .section3_cards{
         display: flex;
         align-items: stretch;
         justify-content: space-between;
          gap: 20px;
            .section3_card{
                width: 33%;
                background: #262627;
                border: 1px solid #E5E5E580;
                border-radius: 2px;
                padding: 37px 17px;
                .dumaloq{
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    background: #C4C4C4;
                    margin-bottom: 25px;
                    &:hover{
                        background: none;
                        border: 1px solid #C4C4C4;
                    }
                }
                h4{
                   font-family: "Paytone One", sans-serif;
                   font-weight: 400;
                   font-size:23px;
                   line-height:32px;
                   color: #FFFFFF;
                   letter-spacing: 1px;  
                   margin-bottom: 8px; 
                }
                p{
                  
                   font-weight: 400;
                   font-size:16px;
                   line-height:26px;
                   color: #E5E5E5;
                   letter-spacing: 1px;  
                  
                }
            }
        }
    }
}
.section4{
    background: #0D0D0E;
    .section4_item{
        padding: 60px 0;
        .section4_tetle{
            width: 548px;
            margin-bottom: 60px;
            h2{
                font-family: "Paytone One", sans-serif;
                font-weight: 400;
                font-size:52px;
                line-height:64px;
                color: #FFFFFF;
                letter-spacing: 1px;  
                margin-bottom: 18px; 
            }
            p{
                font-weight: 400;
                font-size:20px;
                line-height:32px;
                color: #FFFFFF;
                letter-spacing: 1px;  
            }
        }
        .section4_cards{
            display: grid;
            grid-template-columns:  1fr 1fr ;
            gap: 40px;
            align-items: start;
            margin-bottom: 29px;
            .section4_card{

                margin-bottom: 30px;
                
                h3{
                  font-family: "Paytone One", sans-serif;
                  font-weight: 400;
                  font-size:31px;
                  line-height:41px;
                  color: #FFFFFF;
                  letter-spacing: 1px;  
                  margin-bottom:7px;  
                }
                .section4_text{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    p{
                      font-weight: 400;
                      font-size:16px;
                      line-height:20px;
                      color: #FFFFFF;
                      letter-spacing: 1px;    
                    }
                    span{
                         font-weight: 400;
                         font-size:16px;
                         line-height:20px;
                         color:#D400B3;
                         letter-spacing: 1px;    
                    }

                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
            .section4_card1{
              
                margin-bottom: 30px;
                transform: translate(0,-80px);
                &:nth-child{
                    grid-row: span 1;
                }
                h3{
                  font-family: "Paytone One", sans-serif;
                  font-weight: 400;
                  font-size:31px;
                  line-height:41px;
                  color: #FFFFFF;
                  letter-spacing: 1px;  
                  margin-bottom:7px;  
                }
                .section4_text{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    p{
                      font-weight: 400;
                      font-size:16px;
                      line-height:20px;
                      color: #FFFFFF;
                      letter-spacing: 1px;    
                    }
                    span{
                         font-weight: 400;
                         font-size:16px;
                         line-height:20px;
                         color:#D400B3;
                         letter-spacing: 1px;    
                    }

                }
                img{
                    width: 100%;
                    height: auto;
                    display: block;
                }

            }
        }

    }
}

.section5{
    background: #262627;
    .section5_cards{
        padding: 40px 0;
        .section5_boxs{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            .section5_box{
                width: 33%;
               .section5_img{
                display: flex;
                align-items: center;
              
                flex-direction: column;
                 .section5_rasm{
                    width: 100%;
                    height: auto;
                    z-index: 1;
                    
                 }
                 .section5_rasm1{
                    width: 100px;
                    height: 100px;
                    transform: translate(0, -50px);
                    z-index: 2;
                 }
                
               }
               .section5_tetle{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                h3{
                   font-family: "Paytone One", sans-serif;
                   font-weight: 400;
                   font-size:31px;
                   line-height:41px;
                   color: #FFFFFF;
                   letter-spacing: 1px;  
                   margin-bottom: 18px;  
                }
                .button2{
                    font-family: "Paytone One", sans-serif;
                    padding: 7px 15px;
                    background: #D400B3;
                    border-radius: 2px;
                     font-weight: 400;
                     font-size:15px;
                     line-height:20px;
                     color: #FFFFFF;
                     letter-spacing: 1px; 
                     &:hover{
                        background: none;
                        border: 1px solid #D400B3;
                        padding: 7px 15px;
                        border-radius: 2px;
                     } 
                }
               }
            }
        }
        }
    }




@media(max-width:1100px){
    header{
        .navbar{
            gap: 20px;
        }
        .showcase{
        flex-direction: column-reverse;
        gap: -20px;
        padding: 10px 0;
        .show_left{
          width: 100% !important;
          text-align: center;
          h2{
           width: 100%;
           font-size: 60px;
           line-height: 60px;
          }
          p{
            margin-bottom: 40px;
          }
                
        }
        .show_right{
            width: 60%;
            text-align: center;
            img{
                width: 100%;
            }
        }
    }
    
}
.section4{
    .section4_item{
        padding: 40px 0;
        .section4_cards{
            .section4_tetle{
                width: 100%;
                h2{
                    font-size:30px;
                    line-height:35px;
                }
            }
            .section4_card1{
              transform: translate(0,-10);
            }
        }
    }
}
}
@media(max-width:970px){
    header{
        .navbar{
            gap: 20px;
        }
        .showcase{
         padding:0;
         margin-top: -50px;
        .show_left{
            margin-top: -40px;
          h2{
           font-size: 30px;
           line-height: 30px;
          }
          p{
            font-size: 15px;
            line-height: 20px;
          }
    
                
        }
        .show_right{
            width: 50%;
            text-align: center;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    }
    .section1{
        .section1_cards{
            padding: 120px 0;
            .section1_card{
                .section1_crad1{
                    gap: 30px;
                    .section1_card2{
                        h2{
                            font-size: 40px;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }
    .section2{
        .section2_cards{
            padding: 30px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }
    .section3{
       .section3_item{
         padding: 40px 0;
         .section3_cards{
            flex-wrap: wrap;
            .section3_card{
                width: 48%;
            }
        }
       }
    }
}
@media(max-width:750px){
    header{
        .navbar{
            gap: 20px;
            .nav_logo{
                .navbar_ul{
                    display: none;
                    button{
                        padding:7px 20px;
                    }
                }
            }
        }
        .showcase{
         margin-top: -200px;
        .show_left{
            margin-top: -180px;
          h2{
           font-size: 28px;
           line-height: 30px;
          }
          p{
            font-size: 15px;
            line-height: 18px;
          }
         .button1{
            width: 100%;
            padding: 7px 0;
            .play{
                font-size: 15px;
                width: 30px ;
                height: 30px;
            }
         }
                
        }
        .show_right{
            width: 60%;
            img{
                width:100%;
                height: auto;
            }
        }
    }
    }
     .section1{
        .section1_cards{
            padding: 60px 0;
            .section1_card{
                flex-direction: column-reverse;
                width: 100%;
                margin-bottom: 30px;
                p{
                    width: 100%;
                    align-items: center;
                }
                .section1_crad1{
                    gap: 30px;
                    .section1_card2{
                        text-align: center;
                        width: 100%;
                        margin-bottom: 30px;
                        h2{
                            font-size: 30px;
                            line-height: 30px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .section3{
       .section3_item{
        h2{
            width: 100%;
            font-size:30px;
            line-height:35px; 
        }
         .section3_cards{
            flex-wrap: wrap;
            .section3_card{
                width: 100%;
            }
        }
       }
    }
    .section4{
    .section4_item{
        padding: 40px 0;
        .section4_cards{
            gap: 25px;
            .section4_tetle{
                width: 100%;
                margin-bottom: 30px;
                h2{
                    font-size:28px;
                    line-height:30px;
                }
                p{
                     font-size:17px;
                    line-height:22px;
                }
            }
            .section4_card{
                margin-bottom: 20px;
             h3{
                  font-size:18px;
                  line-height:20px;
             }
             p{
                font-size:12px;
                line-height:17px;
             }
             span{
                font-size:12px;
                line-height:17px;
             }
            }
            .section4_card1{
                margin-bottom: 20px;
             h3{
                  font-size:18px;
                  line-height:20px;
             }
              p{
                font-size:12px;
                line-height:17px;
             }
             span{
                font-size:12px;
                line-height:17px;
             }
            }
             .section4_cards1{
              display: none;
                }
             

        }
    }
    }
    .section5{
        .section5_cards{
            .section5_boxs{
                width: 100%;
              flex-direction: column;
              .section5_rasm{
                width: 100%;
                height: auto;
              }
              .section5_rasm1{
                width: 30px;
                height: 30px;
                transform: translate(0, -5px);
              }
              .section5_tetle{
                h3{
                    font-size:14px;
                    line-height:15px; 
                     margin-bottom:8px; 
                }
              }
            }
        }
    }
}
